.footer-container1{
    background: rgb(52, 62, 69);
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    color: white;
    padding: 50px 0;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 40px;
    line-height: 2.2;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.footer-container2{
    background: rgb(21, 46, 91);
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
}

.footer-container2 p{
    color: white;
    font-size: 12px;
}

.foot{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 12px;
}