.App {
  text-align: center;
}

body {
  background-color: #f5f7fa;
}

.card {
  border-radius: 12px;
}

video {
  border-radius: 8px;
}

.list-group-item-action {
  cursor: pointer;
}

.navbar{
  height: 80px;
}

.collapse{
  margin-right: 80px;
}

.navbar-nav{
  gap: 30px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link{
  color: #686868 !important;
}

.nav-link:hover{
  color: #3a3a3a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
